<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shareholder Meeting Information</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/message.css">
    <style>
        ul {
            width: 90vw;
            margin-top: 40px;
            padding: 20px 0;
            border-bottom: 2px solid #f4f4f4;
            border-top: 2px solid #f4f4f4;
        }
        li {
            font-size: 17px;
            padding: 15px 0;
        }
    </style>
</head>
<body>
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="../public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
        </section>
        <div class="message">
            <h2>Common Stock Information</h2>
            <h4>The information on this website is presented in PDF format. If you do not have Adobe Acrobat® Reader® software on your computer, use the following link to go to Adobe's web site for a free download. <a href="https://www.adobe.com/">Adobe</a></h4>
            <div class="msg">
                    <p>
                        <ul>
                            <li><a href="https://www.berkshirehathaway.com/brkshareholderinfo/compab.pdf">Comparative Rights and Relative Prices of Class A and B Stock</a></li>
                            <li><a href="https://www.berkshirehathaway.com/brkshareholderinfo/transferagentinfo.pdf">Common stock and stock transfer agent information</a></li>
                        </ul>
                    </p>
            </div>
        </div>
        <footer>
            <div class="geico">
                <h1>GEICO</h1>
                <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                    WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
            </div>
            <div class="part2">
                <p>
                    If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
                <div>
                    <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                    <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="../public/JS/script.js"></script>
</body>
</html>