<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/sublinks.css">
    <link rel="stylesheet" href="../public/CSS/govern.css">
    <style>
      span {
        rotate: 45deg;
        border-radius: 50%;
        border: 2px solid #f4f4f4;
        background-color: #111;
        margin-left: 20px;
        padding: 5px;
        font-size: 20px;
        opacity: 0;
        display: none;
      }
    </style>
</head>
<body>
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="../public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
        </section>
        <br><br><br>
        <h2>To view the Corporate Governance documents below you may use Adobe Acrobat® Reader® software. Click <a href="https://www.adobe.com/">here</a> to download.</h2>
        <div class="main-sublinks">
            <div class="link-tab">
                <div align="center">
                    <table border="0" cellspacing="0" cellpadding="0" width="75%">
                      <tbody>
                        <tr>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/corpgov.pdf">Corporate Governance Guidelines                              <span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/ethics.pdf">Code of Business Conduct and Ethics <span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/inside.pdf">Insider Trading Policy <span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/pbpp.html">Prohibited Business Practices Policy                          <span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/audit.pdf">Audit Committee Charter<span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/comp.pdf">Governance, Compensation and Nominating Committee Charter<span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                        </tr>
                        <tr>
                          <td>
                            <p><a href="https://www.sec.gov/edgar/browse/?CIK=1067983&owner=only">Section 16 Reports of Directors, Officers and Principal Stockholders                   <span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/ConflictMineralsInformation.html">Conflict Minerals Information<span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                          <td>
                            <p><a href="https://www.berkshirehathaway.com/govern/Wesco%20Form%208937%20Report%20of%20Organizational%20Actions%20Affecting%20Basis%20in%20Securitites.pdf">Wesco Financial Corp - Form 8937 Report on Basis of Securities<span class="material-symbols-rounded">
                                call_made
                                </span></a></p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  
            </div>
        </div>
        <footer>
          <div class="geico">
              <h1>GEICO</h1>
              <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                  WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
          </div>
          <div class="part2">
              <p>
                  If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
              <div>
                  <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                  <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
              </div>
          </div>
      </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="../public/JS/sublinks.js"></script>
    <script src="../public/JS/script.js"></script>
</body>
</html>