<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BERKSHIRE HATHAWAY</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="./public/CSS/nav.css">
    <link rel="stylesheet" href="./public/CSS/style.css">
</head>
<body >
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="./public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
            <div class="hero">
                <img data-scroll data-scroll-speed="1" class="hero-img" src="./public/Assets/hero2.jpeg" alt="hero">
                <img class="mini-hero-img" src="./public/Assets/mini-hero.jpeg" alt="" style="top: 160px; left: 100px; rotate: 5deg;">
                <img class="mini-hero-img mini-hero-img-2" src="./public/Assets/mini-hero2.jpeg" alt="" style="top: 310px; right: 50px; rotate: -5deg;">
                <img class="mini-hero-img mini-hero-img-3" src="./public/Assets/mini-hero3.jpeg" alt="" style="top: 650px; left: 450px; rotate: -5deg;">
            </div>
        </section>
        <div class="content" data-scroll>
            <h1 class="heading4">Resources</h1>
            <div class="card-grid">
                <a class="card-3-0 card-3-1" href="./views/sublinks.html">
                    <div>
                        <h2 data-scroll data-scroll-speed="1">Links to Berkshire Subsidiary Companies</h2>
                    </div>
                </a>
                <a class="card-3-0 card-3-2" href="./views/bhenergypresentations.html">
                    <div>
                        <h2 data-scroll data-scroll-speed="1">Berkshire Hathaway Energy Investor Presentations</h2>
                    </div>
                </a>
                <a class="card-3-0 card-3-3" href="./views/sustainabilityintro.html">
                    <div>
                        <h2 data-scroll data-scroll-speed="3">Sustainability</h2>
                    </div>
                </a>
                <a class="card-3-0 card-3-4" href="https://berkshirewear.com/">
                    <div>
                        <h2 data-scroll data-scroll-speed="1">Berkshire Activewear</h2>
                    </div>
                </a>
                <a class="card-3-0 card-3-5" href="https://www.ebay.com/itm/185860708853">
                    <div>
                        <h2 data-scroll data-scroll-speed="1">Celebrating 50 Years of a Profitable Partnership</h2>
                    </div>
                </a>
            </div>
            <h1 class="heading1">Communications and Letters</h1>
            <div class="card-container-1">
                <a href="./views/message.html">
                    <div class="card-1">
                        <h2>A Message from Warren E. Buffett</h2>
                    </div>
                </a>
                <a href="./views/WEBCTMLtr.html">
                    <div class="card-2">
                        <h2>Special Letters from Warren & Charlie RE:Past, Present and Future</h2>
                    </div>
                </a>
                <a href="./views/webdonat.html">
                    <div class="card-3">
                        <h2>Letters from Warren E. Buffett Regarding Pledges to Make Gifts of Berkshire Stock</h2>
                    </div>
                </a>
                <a href="./views/WescoHome.html">
                    <div class="card-4">
                        <h2>Charlie Munger's Letters to Wesco Shareholders</h2>
                    </div>
                </a>
                <a href="./views/letters.html">
                    <div class="card-5">
                        <h2>Warren Buffett's Letters to Berkshire Shareholders</h2>
                    </div>
                </a>
            </div>
            <h1 class="heading2">News and Updates</h1>
            <div class="card-container-2">
                <a class="link-1-1" href="./views/2024news.html">
                    <div class="card-1-1">
                        <h2>News Releases from Berkshire Hathaway and from Warren Buffett</h2>
                    </div>
                    <span class="material-symbols-rounded">call_made</span>
                </a>
                <a class="link-1-2" href="./views/sharehold.html">
                    <div class="card-1-2">
                        <h2>Annual Meeting Information</h2>
                    </div>
                    <span class="material-symbols-rounded">call_made</span>
                </a>
                <a class="link-1-3" href="https://www.berkshirehathaway.com/activisionltr.pdf">
                    <div class="card-1-3">
                        <h2>Facts Regarding Berkshire's 2021 Investments in Activision Common Stock</h2>
                    </div>
                    <span class="material-symbols-rounded">call_made</span>
                </a>
            </div>
            <h1 class="heading3">Financial and Governance Information</h1>
            <div class="card-container-3">
                <a class="card-2-0 card-2-1" href="./views/reports.html">
                        <img src="https://a.storyblok.com/f/99519/2200x1240/9caf2f2f32/blog-20584435-project-management-trends_2x.png/m/2160x1217/filters:format(png)" alt="">
                        <h2>Annual & Interim Reports</h2>
                </a>
                <a class="card-2-0 card-2-2" href="https://www.sec.gov/cgi-bin/browse-edgar?company=berkshire+hathaway&match=&CIK=&filenum=&State=&Country=&SIC=&owner=exclude&Find=Find+Companies&action=getcompany">
                        <img src="https://thumbs.dreamstime.com/b/web-197734071.jpg" alt="">
                        <h2>Link to SEC Filings</h2>
                </a>
                <a class="card-2-0 card-2-3" href="./views/govern.html">
                        <img src="https://cdn4.vectorstock.com/i/1000x1000/42/43/good-governance-turquoise-concept-icon-vector-42334243.jpg" alt="">
                        <h2>Corporate Governance</h2>
                </a>
                <a class="card-2-0 card-2-4" href="./views/brkshareholderinfo.html">
                        <img src="https://cdn-res.keymedia.com/cms/images/ca/155/0399_638181965663023689.jpg" alt="">
                        <h2>Common Stock Information</h2>
                </a>
            </div>
            <!-- <div class="card-5">
                <h2>Sustainability</h2>
            </div> -->
        </div>
        <footer>
            <div class="geico">
                <h1>GEICO</h1>
                <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                    WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
            </div>
            <div class="part2">
                <p>
                    If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
                <div>
                    <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                    <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="./public/JS/script.js"></script>
</body>
</html>