<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/sublinks.css">
</head>
<body>
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="../public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
        </section>
        <div class="reports">
            <p>Berkshire Hathaway is re-engineering small business insurance.</p>
            <a href="https://threeinsurance.com/">Click here to find out more.</a>
        </div>
        <div align="center" class="annual-tbl">
            <table border="1">
             <tr>
              <td valign="bottom" colspan="5">
              <b>Reports</b>
              </td>
             </tr>
             <tr>
              <td valign="bottom">
              <b>Year</b>
              </td>
              <td valign="bottom">
              <b>1st<br>Quarter</b>
              </td>
              <td valign="bottom">
              <b>2nd<br>Quarter</b>
              </td>
              <td valign="bottom">
              <b>3rd<br>Quarter</b>
              </td>
              <td valign="bottom">
              <b><br>Annual*</b>
              </td>
             </tr>
             <tr>
              <td>
              2024
              </td>
              <td>
              <a href="qtrly/links1stqtr24.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
               
              </td>
              <td>
               
              </td>
              <td>
               
              </td>
             </tr>
             <tr>
              <td>
              2023
              </td>
              <td>
              <a href="qtrly/links1stqtr23.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr23.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr23.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2023ar/linksannual23.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2022
              </td>
              <td>
              <a href="qtrly/links1stqtr22.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr22.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr22.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a> 
              </td>
              <td>
              <a href="2022ar/linksannual22.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a> 
              </td>
             </tr>
             <tr>
              <td>
              2021
              </td>
              <td>
              <a href="qtrly/links1stqtr21.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr21.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr21.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2021ar/linksannual21.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2020
              </td>
              <td>
              <a href="qtrly/links1stqtr20.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr20.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr20.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2020ar/linksannual20.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2019
              </td>
              <td>
              <a href="qtrly/links1stqtr19.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr19.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr19.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2019ar/linksannual19.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2018
              </td>
              <td>
              <a href="qtrly/links1stqtr18.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr18.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr18.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2018ar/linksannual18.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2017
              </td>
              <td>
              <a href="qtrly/links1stqtr17.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr17.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr17.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2017ar/linksannual17.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2016
              </td>
              <td>
              <a href="qtrly/links1stqtr16.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr16.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr16.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2016ar/linksannual16.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2015
              </td>
              <td>
              <a href="qtrly/links1stqtr15.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr15.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr15.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2015ar/linksannual15.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2014
              </td>
              <td>
              <a href="qtrly/links1stqtr14.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr14.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr14.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2014ar/linksannual14.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2013
              </td>
              <td>
              <a href="qtrly/links1stqtr13.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr13.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr13.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2013ar/linksannual13.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2012
              </td>
              <td>
              <a href="qtrly/links1stqtr12.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr12.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr12.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2012ar/linksannual12.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2011
              </td>
              <td>
              <a href="qtrly/links1stqtr11.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr11.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr11.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2011ar/linksannual11.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2010
              </td>
              <td>
              <a href="qtrly/links1stqtr10.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr10.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr10.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2010ar/linksannual10.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2009
              </td>
              <td>
              <a href="qtrly/1stqtr09.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr09.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr09.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter & XBRL Files"></a>
              </td>
              <td>
              <a href="2009ar/linksannual09.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report & XBRL Files"></a>
              </td>
             </tr>
             <tr>
              <td>
              2008
              </td>
              <td>
              <a href="qtrly/1stqtr08.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr08.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr08.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2008ar/2008ar.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2007
              </td>
              <td>
              <a href="qtrly/1stqtr07.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr07.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr07.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2007ar/2007ar.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2006
              </td>
              <td>
              <a href="qtrly/1stqtr06.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr06.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr06.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2006ar/2006ar.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2005
              </td>
              <td>
              <a href="qtrly/1stqtr05.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr05.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr05.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2005ar/impnote05.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2004
              </td>
              <td>
              <a href="qtrly/1stqtr04.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr04.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr04.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2004ar/impnote04.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2003
              </td>
              <td>
              <a href="qtrly/1stqtr03.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr03.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr03.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2003ar/2003ar.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2002
              </td>
              <td>
              <a href="qtrly/links1stqtr02.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr02.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr02.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2002ar/2002ar.pdf"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2001
              </td>
              <td>
              <a href="qtrly/links1stqtr01.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr01.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr01.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2001ar/impnote01.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              2000
              </td>
              <td>
              <a href="qtrly/links1stqtr00.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2ndqtr00.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr00.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="2000ar/impnote00.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              1999
              </td>
              <td>
              <a href="qtrly/links99.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/links2stqtr99.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/links3rdqtr99.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="1999ar/impnote99.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              1998
              </td>
              <td>
              <a href="qtrly/1stqtr98.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/lead2qtr.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr98.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="1998ar/impnote98.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              1997
              </td>
              <td>
              <a href="qtrly/1stqtr97.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr97.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr97.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="1997ar/97arindx.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              1996
              </td>
              <td>
              <a href="qtrly/1stqtr96.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/1st.gif" alt="First quarter"></a>
              </td>
              <td>
              <a href="qtrly/2ndqtr96.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/2nd.gif" alt="Second quarter"></a>
              </td>
              <td>
              <a href="qtrly/3rdqtr96.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/3rd.gif" alt="Third quarter"></a>
              </td>
              <td>
              <a href="1996ar/96arindx.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
             <tr>
              <td>
              1995
              </td>
              <td>
              N/A
              </td>
              <td>
              N/A
              </td>
              <td>
              N/A
              </td>
              <td>
              <a href="1995ar/1995ar.html"><img border="0" width="29" height="19" src="https://www.berkshirehathaway.com/year.gif" alt="Annual report"></a>
              </td>
             </tr>
            </table>
            <h3>* INCLUDES COPYRIGHTED MATERIAL REPRODUCED WITH PERMISSION</h3>
            </div>
            <footer>
                <div class="geico">
                    <h1>GEICO</h1>
                    <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                        WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
                </div>
                <div class="part2">
                    <p>
                        If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
                    <div>
                        <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                        <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
                    </div>
                </div>
            </footer>
    </div>
    
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
        <script src="../public/JS/script.js"></script>
</body>
</html>