<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sustainability</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/sustainability.css">
</head>
<body>
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="../public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
        </section>
        <h1>Sustainability</h1>
    <div class="container">
        <a href="https://www.berkshirehathaway.com/sustainability/brkdiversity.html">
            <div class="card">
                <img src="https://i.pinimg.com/564x/67/da/c9/67dac98803aaac9164adac11ffaeb46d.jpg" alt="">
                <h2>Berkshire Hathaway Diversity</h2>
            </div>
        </a>
        <a href="https://www.berkshirehathaway.com/sustainability/sustainability.html">
            <div class="card">
                <img src="https://i.pinimg.com/564x/4f/65/24/4f6524b3f50ed34657952bc7a9b6fa9f.jpg" alt="">
                <h2>Berkshire Hathaway Sustainability</h2>
            </div>
        </a>
    </div>
    <footer>
        <div class="geico">
            <h1>GEICO</h1>
            <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
        </div>
        <div class="part2">
            <p>
                If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
            <div>
                <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
            </div>
        </div>
    </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="../public/JS/script.js"></script>
</body>
</html>