<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Letters from Warren E. Buffett Regarding Pledges to Make Gifts of Berkshire Stock</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../public/CSS/nav.css">
    <link rel="stylesheet" href="../public/CSS/message.css">
    <style>
        .msg h3, .msg a {
            font-size: 25px;
            color: #f4f4f4;
            /* text-decoration: none; */
        }
        a {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <div class="main" data-scroll-container>
        <section>
            <nav>
                <img class="logo-img" src="../public/Assets/logo.png" alt="logo">
                <h3>3555 Farnam Street <br>
                    Omaha, NE 68131</h3>
            </nav>
        </section>
        <div class="message">
            <h2>Letters from Warren E. Buffett Regarding Pledges to Make Gifts of Berkshire Stock</h2>
            <div class="msg">
                <a href="https://www.berkshirehathaway.com/donate/jun2321.pdf">Comments by Warren E. Buffett in conjunction with his annual contribution of Berkshire Hathaway shares to five foundations - June 23, 2021</a><br><br><br>
                    <h3>The links below are to letters from Warren E. Buffett dated June 26, 2006 and to a letter to Mr. Buffett's three children dated August 30, 2012 regarding pledges to make gifts of Berkshire stock.</h3><br><br><br>
                    <ul>
                        <li><a href="https://www.berkshirehathaway.com/donate/bmgfltr.pdf">Bill and Melinda Gates Foundation</a></li><br>
                        <li><a href="https://www.berkshirehathaway.com/donate/stbfltr.pdf">Susan Thompson Buffett Foundation</a></li><br>
                        <li><a href="https://www.berkshirehathaway.com/donate/hgbltr.pdf">Howard G. Buffett Foundation</a></li><br>
                        <li><a href="https://www.berkshirehathaway.com/donate/sabltr.pdf">The Sherwood Foundation (formerly Susan A. Buffett Foundation)</a></li><br>
                        <li><a href="https://www.berkshirehathaway.com/donate/pabltr.pdf">NoVo Foundation (Peter A. Buffett)</a></li><br>
                        <li><a href="https://www.berkshirehathaway.com/donate/shpltr.pdf">Letter to Susie, Howard & Peter Buffett</a></li><br>
                    
                    </ul><br><br><br>
                    <h3>The July 10, 2006 edition of Fortune Magazine contains an article that includes additional information regarding the pledges made by Mr. Buffett.</h3>
            </div>
        </div>
        <footer>
            <div class="geico">
                <h1>GEICO</h1>
                <p>FOR A FREE CAR INSURANCE RATE QUOTE THAT COULD SAVE YOU SUBSTANTIAL MONEY <br>
                    WWW.GEICO.COM OR CALL 1-888-395-6349, 24 HOURS A DAY</p>
            </div>
            <div class="part2">
                <p>
                    If you have any comments about our WEB page, you can write us at the address shown above. However, due to the limited number of personnel in our corporate office, we are unable to provide a direct response.</p>
                <div>
                    <a href="https://www.berkshirehathaway.com/disclaimer.html">Legal Disclaimer</a>
                    <p>Copyright © 1978-2024 Berkshire Hathaway Inc.</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.js"></script>
    <script src="../public/JS/script.js"></script>
</body>
</html>